# following are the solutions to all 35 questions on advanced DataStructure

## Q1. The reverse_string  takes a string as input and returns a new string with the characters in reverse order.

In [1]:
## code

s= input("Enter a String: ")

s=s[::-1]
print(f"The reversed String is: {s}")

Enter a String:  Arnab Lala

The reversed String is: alaL banrA

## Q2. count Vowels

In [2]:
## code
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in input_string:
        if char in vowels:
            count += 1
    return count

# Example usage:
input_str = "Hello, World!,This is Python Programming."
vowel_count = count_vowels(input_str)
print("Number of vowels:", vowel_count)

Number of vowels: 9

## Q3. check if a string is palindrome

In [3]:
## Check palindrome String

inputstring = input("Enter a  string to Reverse:")

def palindrome(inputstring):
    revstr = inputstring[::-1]

    print("The Input String was: ",inputstring)
    print("The Reversed String is: ",revstr)
    if revstr ==  inputstring:
        print("The two string are PALINDROME!")

    else:
        print("The two strings are not Palindrome")
palindrome(inputstring)

Enter a  string to Reverse: malayalam

The Input String was:  malayalam
The Reversed String is:  malayalam
The two string are PALINDROME!

## Q4. check anagram

In [4]:
## check if 2 strings are anagrams or not!

str1 = input("Enter the 1st string: ")
str2 = input("Enter the 2nd string: ")

def checkAnagram(str1,str2):
    if sorted(str1) == sorted(str2):
        return 1
    else:
        return 0

if checkAnagram(str1,str2) == 1:
    print("The strings are Anagram ")
else:
    print("The strings are not Anagram")

Enter the 1st string:  silent
Enter the 2nd string:  listen

The strings are Anagram

## Q5. find occurance of substring in given string

In [5]:
main_string = "hello hello hello world"
substring = "hello"

# Count occurrences of substring in main_string
count = main_string.count(substring)

print(f"The substring '{substring}' occurs {count} times in the main string.")

The substring 'hello' occurs 3 times in the main string.

## Q6. String Compression

In [6]:
## code
def compress_string(string):
    if not string:
        return ""

    compressed = []
    count = 1
    prev_char = string[0]

    for char in string[1:]:
        if char == prev_char:
            count += 1
        else:
            compressed.append(f"{prev_char}{count}")
            prev_char = char
            count = 1

    compressed.append(f"{prev_char}{count}")
    compressed_string = ''.join(compressed)

## Q7. check if all characters are unique or not

In [ ]:
## code
original= input("Enter a String: ")
flag = 1
def checkUnique(original):
    for char in original:
        index = original.count(char)

        if index == 1:
            flag = 1
            continue
        else:
            flag = 0
            break

    return  flag
flag = checkUnique(original)
if flag == 1:
    print("All characters in String ARE unique")
else:
    print("All characters in String are NOT unique")

## Q8. Upper to Lower conversion

In [ ]:
while 1:
    ch = input("\n Press U to convert to UpperCase\n Press L to convert to LowerCase\n Press Q to Quit\n Enter your choice: ")
    if ch == 'q' or ch == 'Q':
        exit()
    else:
        if ch == 'U' or ch == 'u':
            Str = input("Enter a String, all in Lowercase: ")
            Str = Str.upper()
            print("Upper Case-> ",Str)
        else:
            Str = input("Enter a String, all in Uppercase: ")
            Str = Str.lower()
            print("Lower Case-> ", Str)

## Q9. Count no of words in String

In [8]:
## code
Str = input("Enter a String: ")
def count_NoofWords(Str):
    Str = Str.split(" ")
    print("No.of Words in String is-> ",len(Str))

count_NoofWords(Str)

Enter a String:  Hello World! This is python programing

No.of Words in String is->  6

## Q10. Concatinate 2 strings

In [9]:
## code
Str1 = input("Enter the 1st String: ")
Str2 = input("Enter the 2nd String: ")

def concatinateStrings(Str1,Str2):
    return f"The concatinated Strings are {Str1}{Str2}"


concatenated = concatinateStrings(Str1, Str2)
print(concatenated)

Enter the 1st String:  Arnab
Enter the 2nd String:  Lala

The concatinated Strings are ArnabLala

## Q11 Remove specific element from list

In [10]:
## code
lst =["hello","hello","programing","hello","world","hello","python","hello"]
remove = "hello"
def removeoccurance():
    for ele in lst:
        if ele == remove:
            lst.remove(ele)
    lst.remove(ele)
    return (lst)

result = removeoccurance()
print(result)

['programing', 'world', 'python']

## Q12 Second Largest element from list

In [11]:
lst=[1001,200,4005,500,6000,7337,3775,]
lst.sort()
print(f"The second Largest element is-> {lst[-2]}")

The second Largest element is-> 6000

## Q13.

In [ ]:
## code

duplicate_list = [1, 2, 1,6, 3, 2, 1, 4, 5, 10, 6, 5, 4, 6,3,10]

count_freq = []

def count_freqquecy_element():
    for ele in duplicate_list:
        count_freq.append(duplicate_list.count(ele))
    my_dict = {key: value for key, value in zip(duplicate_list, count_freq)}
    return (my_dict)

mydict = count_freqquecy_element()
print(mydict)

## Q14 reverse a list with built in function

In [12]:
## code
import random
lst = []
for i in range(10):
    lst.append(random.randrange(40))

print("Original List-> ",lst)
print("Reversed list-> ",lst[::-1])

Original List->  [38, 23, 24, 14, 21, 5, 13, 37, 29, 4]
Reversed list->  [4, 29, 37, 13, 5, 21, 14, 24, 23, 38]

## Q15.Remove duplicates from list

In [13]:
## code
integer_lst = [3, 7, 2, 5, 3, 7, 8, 2, 4, 5]

def removeALlDuplicates(integer_lst):
    for ele in integer_lst:
        count = integer_lst.count(ele)
        if count > 1:
            integer_lst.append(integer_lst.remove(ele))
            integer_lst = list(filter(lambda x: x is not None, integer_lst))
    return integer_lst


returned_lst = removeALlDuplicates(integer_lst)
print(returned_lst)

[3, 7, 8, 2, 4, 5]

## Q16. check if list is sorted or not

In [15]:
## code

#checking if a given list is sorted or not
lst1 = [1,2,3,4,5]
lst2 = [20, 0, 35, 15, 2, 26, 35, 33, 9, 36]
##20, 0, 35, 15, 2, 26, 35, 33, 9, 36
def isSotedAccending():
    for i in range(len(lst1)-1):
        if (lst1[i] <lst1[i+1]):
            flag = 0
        else:
            flag = 1
            break
    return flag
flag = isSotedAccending()
if flag == 0:
    print("Soted List!")
else:
    print("Unsorted List!")

Soted List!

## Q17. Merge 2 sorted list in a single list

In [25]:
#code

from random import randrange
lst1 = []
lst2 = []
for i in range(10):
    lst1.append(randrange(50))
for i in range(10):
    lst2.append(randrange(50))
lst1.sort()
lst2.sort()
print(f"The Merged sorted Lists are:{lst1+lst2}")

The Merged sorted Lists are:[1, 9, 14, 17, 18, 26, 31, 37, 38, 40, 3, 7, 7, 14, 22, 22, 23, 24, 34, 49]

## Q 18. intersection of 2 list

In [27]:
## code
lst1 = [1, 2, 3, 4, 5]
lst2 = [3, 4, 5, 6, 7]

set1 = set(lst1)
set2 = set(lst2)

set_inter = set1.intersection(set2)
print("The intersected list is: ",list(set_inter))

The intersected list is:  [3, 4, 5]

## 19. union of 2 lists without duplicate

In [28]:
## code

list1 = [1, 2, 3, 3, 4, 4, 5, 5]
list2 = [3, 4, 4, 5, 6, 6, 7, 8]


set1 = set(list1)
set2 = set(list2)

set_united = set1.union(set2)
print("The United list is: ",list(set_united))

The United list is:  [1, 2, 3, 4, 5, 6, 7, 8]

## Q20. shuffle a given list randomlywihout any built in reverse function

In [29]:
import random

# Given list
my_list = ['C', 'o', 'd', 'e', ' ', 't', 'o', ' ', 'S', 'h', 'u', 'f', 'f', 'l', 'e']

# Custom shuffle function using Fisher-Yates algorithm
def custom_shuffle(input_list):
    for i in range(len(input_list) -1, 0, -1):
        j = random.randint(0, i)
        input_list[i], input_list[j] = input_list[j], input_list[i]

custom_shuffle(my_list)
print(my_list)

['o', 'S', 'e', ' ', 'u', 'o', 'h', ' ', 't', 'e', 'f', 'd', 'l', 'f', 'C']

## 21. input 2 tuples and merge into newly built tuple

In [1]:
MAX = 5

tup1 = []
tup2 = []

def tuple_concatination():
    for _ in range(MAX):
        digit = input("Enter the elements in TUPLE 1: ")
        tup1.append(digit)

    for _ in range(MAX):
        digit = input("Enter the elements in TUPLE 2: ")
        tup2.append(digit)
    new_tuple = tuple(tup1) + tuple(tup2)
    return new_tuple
new_tuple =  tuple_concatination()
print(new_tuple)

Enter the elements in TUPLE 1:  1
Enter the elements in TUPLE 1:  2
Enter the elements in TUPLE 1:  3
Enter the elements in TUPLE 1:  4
Enter the elements in TUPLE 1:  5
Enter the elements in TUPLE 2:  10
Enter the elements in TUPLE 2:  9
Enter the elements in TUPLE 2:  8
Enter the elements in TUPLE 2:  7
Enter the elements in TUPLE 2:  6

('1', '2', '3', '4', '5', '10', '9', '8', '7', '6')

## 22  code input 2 set of integer and find intersection

In [3]:
## code
lst1 = []
lst2 = []

for _ in range(5):
    intt = int(input("Enter a interger in set 1: "))
    lst1.append(intt)

for _ in range(5):
    intt = int(input("Enter a interger in set 2: "))
    lst2.append(intt)

set1 = set(lst1)
set2 = set(lst2)

"""
set1 = {3, 7, 12, 18, 25, 31, 37, 42}
set2 = {18, 25, 31, 42, 55, 61, 67, 73}
"""
print(f"The intersected set is-> {set1.intersection(set2)}")

Enter a interger in set 1:  1
Enter a interger in set 1:  2
Enter a interger in set 1:  6
Enter a interger in set 1:  5
Enter a interger in set 1:  4
Enter a interger in set 2:  4
Enter a interger in set 2:  5
Enter a interger in set 2:  6
Enter a interger in set 2:  8
Enter a interger in set 2:  9

The intersected set is-> {4, 5, 6}

## Q 23 tuple concatination

In [11]:
## code
MAX = 5

tup1 = []
tup2 = []

def tuple_concatination():
    for _ in range(MAX):
        digit = input("Enter the elements in TUPLE 1: ")
        tup1.append(digit)

    for _ in range(MAX):
        digit = input("Enter the elements in TUPLE 2: ")
        tup2.append(digit)
    new_tuple = tuple(tup1) + tuple(tup2)
    return new_tuple
new_tuple =  tuple_concatination()
print(new_tuple)

Enter the elements in TUPLE 1:  4
Enter the elements in TUPLE 1:  66
Enter the elements in TUPLE 1:  3
Enter the elements in TUPLE 1:  22
Enter the elements in TUPLE 1:  56
Enter the elements in TUPLE 2:  89
Enter the elements in TUPLE 2:  56
Enter the elements in TUPLE 2:  22
Enter the elements in TUPLE 2:  23
Enter the elements in TUPLE 2:  56

('4', '66', '3', '22', '56', '89', '56', '22', '23', '56')

## Q 24. input 2 set of strings and find difference of both

In [10]:
## code
s1 = input("Enter the FIRST set of string: ")
s2 = input("Enter the SECOND set of string: ")

l1 = s1.split(" ")
l2 = s2.split(" ")

set1 = set(l1)
set2 = set(l2)

print("The difference of SET 2 FROM SET 1 of two sets-> ",set1.difference(set2))

Enter the FIRST set of string:  machine learning artificial
Enter the SECOND set of string:  chat gpt intilligence learning

The difference of SET 2 FROM SET 1 of two sets->  {'artificial', 'machine'}

## Q 25. slicing in tuple from given specific ranges

In [8]:
## code

def get_elements_in_range(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index+1]

# Example usage
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
result_tuple = get_elements_in_range(original_tuple, 2, 5)
print(result_tuple)

(3, 4, 5, 6)

## Q26. input two set of characters and print the union of the two

In [7]:
## code
l1 = []
l2 = []

for _ in range(5):
    intt = input("Enter a character in set 1: ")
    l1.append(intt)
s1 =set(l1)

for _ in range(5):
    intt = input("Enter a character in set 2: ")
    l2.append(intt)
    
s1 = set(l1)
s2 = set(l2)
print("The united set-> ",s1.union(s2))

Enter a character in set 1:  A
Enter a character in set 1:  R
Enter a character in set 1:  N
Enter a character in set 1:  A
Enter a character in set 1:  B
Enter a character in set 2:  R
Enter a character in set 2:  O
Enter a character in set 2:  H
Enter a character in set 2:  A
Enter a character in set 2:  N

The united set->  {'N', 'A', 'H', 'B', 'O', 'R'}

## 27. maximum and minimum from input tuple using tuple unpacking

In [14]:
22
15
45
78###### code
## inputing elements in tuple

lst = []
for _ in range(6):
    ele = int(input("Enter the element in tuple: "))
    lst.append(ele)

tup = tuple(lst)

def maximum_and_minimum_in_tuple(tup):
    maxi, mini = max(tup),min(tup)
    return maxi, mini


maxi, mini = maximum_and_minimum_in_tuple(tup)
print(f"MINIMUM element-> {mini} and MAXIMUM elements-> {maxi}")

Enter the element in tuple:  100
Enter the element in tuple:  89
Enter the element in tuple:  65
Enter the element in tuple:  45
Enter the element in tuple:  12
Enter the element in tuple:  78

MINIMUM element-> 12 and MAXIMUM elements-> 100

## Q28. define two integer sets and find union,intersection and difference of two sets

In [15]:
## code
import random
s1 = {14, 10, 8, 6, 8}
s2 = {7, 2, 8, 3, 8}

print("The UNION of two sets-> ",s1.union(s2))
print("The INTERSECTION of two sets-> ",s1.intersection(s2))

print("The difference of SET 2 FROM SET 1 of two sets-> ",s1.difference(s2))
print("The difference of SET 1 FROM SET 2 of two sets-> ",s2.difference(s1))

The UNION of two sets->  {2, 3, 6, 7, 8, 10, 14}
The INTERSECTION of two sets->  {8}
The difference of SET 2 FROM SET 1 of two sets->  {10, 14, 6}
The difference of SET 1 FROM SET 2 of two sets->  {2, 3, 7}

## Q29. function to create a tuple and print occurance of a given element

In [16]:
## code
from random import randint

l1 = []
tup1 = ()

def count_occurance_in_Tuple():
    ele = int(input("Enter the element to count ocurance: "))
    for _ in range(10):
        r_intt = randint(1,20)
        l1.append(r_intt)
    tup1 = tuple(l1)
    print("The created tuple is-> ",tup1)
    if ele in tup1:
        count = tup1.count(ele)
        return count
    else:
        print("The element is ABSENT in tuple! sorry!")

count = count_occurance_in_Tuple()
print("the frequency-> ",count)

Enter the element to count ocurance:  5

The created tuple is->  (6, 4, 11, 6, 19, 7, 5, 10, 12, 8)
the frequency->  1

## Q30. Symmetric difference of sets

In [18]:
## code 
sett1 = set()
sett2 = set()

print("Enter Set of Strings in set 1->")
for _ in range(3):
    string = input("Enter a string: ")
    sett1.add(string)

print("Enter Set of Strings in set 2->")
for _ in range(3):
    string = input("Enter a string: ")
    sett2.add(string)

sym_differ = sett1.symmetric_difference(sett2)
print(f"Symmetric difference-> {sym_differ}")

Enter Set of Strings in set 1->

Enter a string:  abc
Enter a string:  def
Enter a string:  ghi

Enter Set of Strings in set 2->

Enter a string:  ghi
Enter a string:  def
Enter a string:  xyz

Symmetric difference-> {'xyz', 'abc'}

## Q31. Write a Python function that takes a list of words and an input string, then returns a dictionary where the keys are the unique words from the list that appear in the input string, and the values are their frequencies in the input string.

In [20]:
## code 

words_list =[]
count_frequency = []

for _ in range(6):
    word = input("Enter a word: ")
    words_list.append(word)

for word in words_list:
    count = words_list.count(word)
    count_frequency.append(count)
##words_list = ["apple", "banana", "apple", "orange", "banana", "apple", "watermelon", "kiwi", "watermelon", "strawberry"]


def count_frquency_of_words(words_list,count_frequency):
    
        words_list_set = set(words_list)
        my_dict = {key: value for key, value in zip(words_list_set, count_frequency)}
        return (my_dict)

mydict = count_frquency_of_words(words_list,count_frequency)
print(mydict)

Enter a word:  abc
Enter a word:  def
Enter a word:  abc
Enter a word:  xyz
Enter a word:  def
Enter a word:  ghi

{'def': 2, 'xyz': 2, 'abc': 2, 'ghi': 1}

## Q32. Enter 2 dictionaries and merged into 1 dictionary. Add the values with common Keys

In [25]:
## code

dict1 = {}
print("Enter the values in dictionary1 ->")
for _ in range (3):
    key = input("Enter the key (or enter 'q' to quit): ")
    if key == 'q' or key == 'Q':
        break
    value = input("Enter the value: ")
    dict1[key] = value

dict2 = {}
print("Enter the values in dictionary2 ->")
for _ in range (3):
    key = input("Enter the key (or enter 'q' to quit): ")
    if key == 'q' or key == 'Q':
        break
    value = input("Enter the value: ")
    dict2[key] = value


def merge_And_Update_dicts(dict1, dict2):
    merged_data = {}
    for key in dict1.keys():
        if key in dict2.keys():
                merged_data[key]= (dict1[key],dict2[key])
    dict1.update(merged_data)
    print(dict1)
merge_And_Update_dicts(dict1,dict2)

Enter the values in dictionary1 ->

Enter the key (or enter 'q' to quit):  commonkey
Enter the value:  100
Enter the key (or enter 'q' to quit):  key1
Enter the value:  10
Enter the key (or enter 'q' to quit):  key2
Enter the value:  20

Enter the values in dictionary2 ->

Enter the key (or enter 'q' to quit):  commonkey
Enter the value:  200
Enter the key (or enter 'q' to quit):  key3
Enter the value:  30
Enter the key (or enter 'q' to quit):  key4
Enter the value:  40

{'commonkey': ('100', '200'), 'key1': '10', 'key2': '20'}

## Q33. implement a function that accesses values in a nested dictionary based on a list of keys,

In [26]:
## code
def access_nested_dict(nested_dict, keys_list):
    try:
        value = nested_dict
        for key in keys_list:
            value = value[key]
        return value
    except (KeyError, TypeError):
        return None

# Example nested dictionary
nested_dict = {
    'a': {
        'b': {
            'c': 123
        }
    }
}

# List of keys to access the nested dictionary
keys = ['a', 'b', 'c']

# Access the nested dictionary with the keys
result = access_nested_dict(nested_dict, keys)
print(result)
# Trying to access a key that doesn't exist
result_nonexistent = access_nested_dict(nested_dict, ['x', 'y', 'z'])
print(result_nonexistent)

123
None

## Q34. Sorting dictionary both ascending and descending order based on respective values

In [27]:
## code 
def sort_dict_by_value(input_dict, reverse=False):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=reverse))
    return sorted_dict

my_dict = {'b': 3, 'a': 1, 'c': 2}

# Sort the dictionary by values in ascending order
sorted_dict_asc = sort_dict_by_value(my_dict)
print(sorted_dict_asc)  

# Sort the dictionary by values in descending order
sorted_dict_desc = sort_dict_by_value(my_dict, reverse=True)
print(sorted_dict_desc)

{'a': 1, 'c': 2, 'b': 3}
{'b': 3, 'c': 2, 'a': 1}

## Q35. To invert a dictionary in Python by swapping keys and values and handling cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [28]:
## code
from collections import defaultdict

def invert_dict(input_dict):
    inverted_dict = defaultdict(list)
    for key, value in input_dict.items():
        inverted_dict[value].append(key)
    return dict(inverted_dict)

# Example dictionary with multiple keys having the same value
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 2}

# Invert the dictionary handling multiple keys with the same value
inverted_dict = invert_dict(my_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b', 'd']}